<!doctype html>
<html class='no-js full-height' lang='{{ request.locale.iso_code }}'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='theme-color' content=''>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    {%- unless settings.type_header_font.system?
      and settings.type_body_font.system?
    -%}
      <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>
    {%- endunless -%}
    {%- unless settings.type_body_font.system? -%}
      <link
        rel='preload'
        as='font'
        href='{{ settings.type_body_font | font_url }}'
        type='font/woff2'
        crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel='preload'
        as='font'
        href='{{ settings.type_header_font | font_url }}'
        type='font/woff2'
        crossorigin>
    {%- endunless -%}

    {%- liquid
      render 'head-seo'
      render 'head-meta'
      render 'head-config'
      render 'head-scripts', is_password_page: true
      render 'head-stylesheets', is_password_page: true
    -%}

    <!-- BEGIN content_for_header -->
    {{ content_for_header }}
    <!-- END content_for_header -->
  </head>

  <body class='password'>
    {%- render 'a11y-skip-to-content' -%}

    {%- section 'main-password-header' -%}

    <main id='MainContent' class='password-main'>
      <!-- BEGIN content_for_layout -->
      {{ content_for_layout }}
      <!-- END content_for_layout -->
    </main>

    <footer>
      {%- section 'main-password-footer' -%}
    </footer>

    {%- render 'a11y-messages' -%}
  </body>
</html>
