{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{%-liquid

  assign payment_icons_enabled = section.settings.payment_enable
  assign country_selector_enabled = section.settings.enable_country_selector
  assign language_selector_enabled = section.settings.enable_language_selector
  assign policy_links_enabled = section.settings.show_policy

-%}

<!-- BEGIN sections/footer.liquid -->
{%- if country_selector_enabled or language_selector_enabled -%}
  {{ 'component-footer-localization.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if policy_links_enabled -%}
 {{ 'component-policies.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<footer class="footer">
  <div class="footer__content page-width">

    {%- comment -%} Localization {%- endcomment -%}
    <div class="footer__column footer__localization isolate">
      {%- if country_selector_enabled and localization.available_countries.size > 1 -%}
        <noscript>
          {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
              <select
                class="localization-selector link"
                name="country_code"
                aria-labelledby="FooterCountryLabelNoScript"
              >
                {%- for country in localization.available_countries -%}
                  <option
                    value="{{ country.iso_code }}"
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon', icon: 'caret' %}
            </div>
            <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
          {%- endform -%}
        </noscript>
        <localization-form>
          {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'FooterCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}

      {%- if language_selector_enabled and localization.available_languages.size > 1 -%}
        <noscript>
          {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                {{ 'localization.language_label' | t }}
              </h2>
              <select
                class="localization-selector link"
                name="locale_code"
                aria-labelledby="FooterLanguageLabelNoScript"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {%- if language.iso_code == localization.language.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ language.endonym_name | capitalize }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon', icon: 'caret' %}
            </div>
            <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
          {%- endform -%}
        </noscript>

        <localization-form>
          {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
            <div class="no-js-hidden">
              <h2 class="caption-large text-body" id="FooterLanguageLabel">
                {{ 'localization.language_label' | t }}
              </h2>
              {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
    <div class="footer__column footer__column--info">

      {%- comment -%} Accepted Payment Icons {%- endcomment -%}
      {%- if payment_icons_enabled -%}
        <div class="footer__payment">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="list list-payment" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

    </div>

    {%- comment -%} Copyright and Policies {%- endcomment -%}
    <div class="footer__copyright caption">
      <small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</small>
      {%- if policy_links_enabled -%}
        <ul class="policies list-unstyled">
          {%- for policy in shop.policies -%}
            {%- if policy != blank -%}
              <li>
                <small class="copyright__content"><a href="{{ policy.url }}">{{ policy.title }}</a></small>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</footer>

{%- if country_selector_enabled or language_selector_enabled -%}
<script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<!-- END sections/footer.liquid -->

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": false,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    }
  ]
}
{% endschema %}
